<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="tests/_reports/logs/clover.xml"/>
      <html outputDirectory="tests/_reports/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Combell API test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="tests/_reports/testdox/executed.txt"/>
  </logging>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
